<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
    <script th:src="@{/js/htmx.min.js}"></script>
    <link th:href="@{/styles/css/bulma.min.css}" rel="stylesheet"/>
    <script>
        function selectImdb(button) {
            const imdbId = button.dataset.id;
            document.getElementById('imdbId').value = imdbId;
            document.getElementById('selected-imdb-id').textContent = imdbId;
            const buttons = document.querySelectorAll('#imdb-results button');
            buttons.forEach(btn => btn.style.fontWeight = 'normal');
            button.style.fontWeight = 'bold';
        }

        function selectFilmweb(button) {
            const filmwebId = button.dataset.id;
            document.getElementById('filmwebId').value = filmwebId;
            document.getElementById('selected-filmweb-id').textContent = filmwebId;
            const buttons = document.querySelectorAll('#filmweb-results button');
            buttons.forEach(btn => btn.style.fontWeight = 'normal');
            button.style.fontWeight = 'bold';
        }
    </script>
</head>
<body>

<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <b class="navbar-item">Admin Dashboard</b>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" hx-get="/admin/cities" hx-target="#content">Cities</a>
                <a class="navbar-item" hx-get="/admin/cinemas" hx-target="#content">Cinemas</a>
                <a class="navbar-item" hx-get="/admin/movies" hx-target="#content">Movies</a>
                <a class="navbar-item" hx-get="/admin/showings" hx-target="#content">Showings</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <form th:action="@{/logout}" method="post" class="buttons">
                        <button class="button is-primary" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>

<main id="content" class="container">
    <p class="block">Select an item from the menu to view details.</p>
</main>

</body>
</html>