<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Login</title>
    <link th:href="@{/styles/css/bulma.min.css}" rel="stylesheet"/>
</head>
<body>

<section class="section">
    <h1 class="title">Admin Panel Login</h1>
</section>
<main class="container is-max-tablet">
    <div th:if="${param.error}" class="notification is-danger">
        Invalid username or password.
    </div>

    <form th:action="@{/admin/login}" method="post" class="box">
        <div class="field">
            <label for="username" class="label">Username:</label>
            <div class="control">
                <input class="input" type="text" id="username" name="username" required autofocus>
            </div>
        </div>
        <div class="field">
            <label for="password" class="label">Password:</label>
            <div class="control">
                <input class="input" type="password" id="password" name="password" required>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    Remember me
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="button is-link" type="submit" value="Log In"/>
            </div>
        </div>
    </form>
    <div class="mt-4 has-text-centered">
        <a th:href="@{/user/register}">Create a new user</a>
    </div>
</main>
</body>
</html>